{
    "checksum": "091432b02ad37667b7a3956be53a0a58081ac19b7c17430583f14f36ee61392e",
    "file": "Kconfig.ipw2200",
    "mime": {
        "encoding": "us-ascii",
        "type": "text/plain"
    },
    "number_of_duplicates": 1,
    "package": "ipw2200",
    "path": "ipw2200/1.2.0-3/in-tree/Kconfig.ipw2200",
    "pkg_infos": {
        "area": "contrib",
        "copyright": true,
        "ctags_count": 2016,
        "license": "/copyright/license/ipw2200/1.2.0-3/",
        "metric": {
            "size": 644
        },
        "pts_link": "https://tracker.debian.org/pkg/ipw2200",
        "sloc": [
            [
                "ansic",
                11589
            ],
            [
                "sh",
                518
            ],
            [
                "makefile",
                205
            ]
        ],
        "suites": [
            "etch",
            "etch-m68k"
        ]
    },
    "raw_url": "/data/contrib/i/ipw2200/1.2.0-3/in-tree/Kconfig.ipw2200",
    "stat": {
        "perms": "rw-r--r--",
        "size": 2996,
        "symlink_dest": null,
        "type": "-"
    },
    "text_file": true,
    "type": "file",
    "version": "1.2.0-3"
}