{
    "content": [
        {
            "hidden": false,
            "name": ".gitignore",
            "stat": {
                "perms": "rw-r--r--",
                "size": 87,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "Makefile",
            "stat": {
                "perms": "rw-r--r--",
                "size": 7584,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "conf.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 15603,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "confdata.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 27482,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "expr.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 30824,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "expr.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 9868,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "gconf-cfg.sh",
            "stat": {
                "perms": "rwxr-xr-x",
                "size": 733,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "gconf.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 38929,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "gconf.glade",
            "stat": {
                "perms": "rw-r--r--",
                "size": 25642,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "images.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 6565,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "kconf_id.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 1854,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "list.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 3749,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "lkc.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 4064,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "lkc_proto.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 2506,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "lxdialog",
            "stat": {
                "perms": "rwxr-xr-x",
                "size": 4096,
                "symlink_dest": null,
                "type": "d"
            },
            "type": "directory"
        },
        {
            "hidden": false,
            "name": "mconf-cfg.sh",
            "stat": {
                "perms": "rwxr-xr-x",
                "size": 1141,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "mconf.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 28002,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "menu.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 21982,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "merge_config.sh",
            "stat": {
                "perms": "rwxr-xr-x",
                "size": 4554,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "nconf-cfg.sh",
            "stat": {
                "perms": "rw-r--r--",
                "size": 1212,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "nconf.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 39078,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "nconf.gui.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 15108,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "nconf.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 1875,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "preprocess.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 11241,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "qconf-cfg.sh",
            "stat": {
                "perms": "rwxr-xr-x",
                "size": 846,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "qconf.cc",
            "stat": {
                "perms": "rw-r--r--",
                "size": 44848,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "qconf.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 7544,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "streamline_config.pl",
            "stat": {
                "perms": "rwxr-xr-x",
                "size": 16568,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "symbol.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 29823,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "tests",
            "stat": {
                "perms": "rwxr-xr-x",
                "size": 4096,
                "symlink_dest": null,
                "type": "d"
            },
            "type": "directory"
        },
        {
            "hidden": false,
            "name": "util.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 2226,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "zconf.l",
            "stat": {
                "perms": "rw-r--r--",
                "size": 8457,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "zconf.y",
            "stat": {
                "perms": "rw-r--r--",
                "size": 16932,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        }
    ],
    "directory": "kconfig",
    "package": "u-boot",
    "path": "u-boot/2021.10+dfsg-1/scripts/kconfig",
    "pkg_infos": {
        "area": "main",
        "copyright": true,
        "ctags_count": 0,
        "license": "/copyright/license/u-boot/2021.10+dfsg-1/",
        "metric": {
            "size": 154848
        },
        "pts_link": "https://tracker.debian.org/pkg/u-boot",
        "sloc": [
            [
                "ansic",
                1938351
            ],
            [
                "python",
                33683
            ],
            [
                "asm",
                21909
            ],
            [
                "perl",
                10567
            ],
            [
                "makefile",
                10520
            ],
            [
                "sh",
                3382
            ],
            [
                "cpp",
                1868
            ],
            [
                "yacc",
                1100
            ],
            [
                "lex",
                747
            ],
            [
                "tcl",
                28
            ],
            [
                "sed",
                24
            ],
            [
                "awk",
                8
            ]
        ],
        "suites": [
            "bookworm",
            "sid"
        ],
        "vcs_browser": "https://salsa.debian.org/debian/u-boot",
        "vcs_type": "git"
    },
    "type": "directory",
    "version": "2021.10+dfsg-1"
}