{
    "checksum": "7169dc033a331e29002930fd35136bb422dc537526909f74019a01b6c9cb24b0",
    "file": "env-example",
    "mime": {
        "encoding": "us-ascii",
        "type": "text/plain"
    },
    "number_of_duplicates": 1,
    "package": "postgresql-autodoc",
    "path": "postgresql-autodoc/1.41+20200921-1/env-example",
    "pkg_infos": {
        "area": "main",
        "copyright": true,
        "ctags_count": 0,
        "license": "/copyright/license/postgresql-autodoc/1.41+20200921-1/",
        "metric": {
            "size": 228
        },
        "pts_link": "https://tracker.debian.org/pkg/postgresql-autodoc",
        "sloc": [
            [
                "perl",
                1406
            ],
            [
                "sh",
                153
            ],
            [
                "sql",
                103
            ],
            [
                "makefile",
                69
            ]
        ],
        "suites": [
            "bookworm",
            "sid"
        ],
        "vcs_browser": "https://salsa.debian.org/debian/postgresql-autodoc",
        "vcs_type": "git"
    },
    "raw_url": "/data/main/p/postgresql-autodoc/1.41%2B20200921-1/env-example",
    "stat": {
        "perms": "rw-r--r--",
        "size": 116,
        "symlink_dest": null,
        "type": "-"
    },
    "text_file": true,
    "type": "file",
    "version": "1.41+20200921-1"
}