{
    "checksum": "9d6ce23943a1806ff5a7260021ae9ba010dcdb7d8ece2db88253f35e9d069185",
    "file": "Kconfig",
    "mime": {
        "encoding": "us-ascii",
        "type": "text/plain"
    },
    "number_of_duplicates": 1,
    "package": "apex",
    "path": "apex/1.6.10/src/mach-orion5x/Kconfig",
    "pkg_infos": {
        "area": "main",
        "copyright": true,
        "ctags_count": 14682,
        "license": "/copyright/license/apex/1.6.10/",
        "metric": {
            "size": 13624
        },
        "pts_link": "https://tracker.debian.org/pkg/apex",
        "sloc": [
            [
                "ansic",
                195323
            ],
            [
                "cpp",
                4449
            ],
            [
                "perl",
                4109
            ],
            [
                "makefile",
                1665
            ],
            [
                "sh",
                1256
            ],
            [
                "yacc",
                967
            ],
            [
                "asm",
                952
            ],
            [
                "lex",
                739
            ],
            [
                "python",
                286
            ]
        ],
        "suites": [
            "jessie",
            "jessie-kfreebsd",
            "squeeze",
            "stretch",
            "wheezy"
        ]
    },
    "raw_url": "/data/main/a/apex/1.6.10/src/mach-orion5x/Kconfig",
    "stat": {
        "perms": "rw-r--r--",
        "size": 2310,
        "symlink_dest": null,
        "type": "-"
    },
    "text_file": true,
    "type": "file",
    "version": "1.6.10"
}