{
    "checksum": "70dbde7b77f0e7953d5dfa01c1ad731550d4f56a4b2a87e924e5ed641408fbc1",
    "file": "Kconfig",
    "mime": {
        "encoding": "us-ascii",
        "type": "text/plain"
    },
    "number_of_duplicates": 3,
    "package": "u-boot",
    "path": "u-boot/2021.10+dfsg-1/board/intel/cherryhill/Kconfig",
    "pkg_infos": {
        "area": "main",
        "copyright": true,
        "ctags_count": 0,
        "license": "/copyright/license/u-boot/2021.10+dfsg-1/",
        "metric": {
            "size": 154848
        },
        "pts_link": "https://tracker.debian.org/pkg/u-boot",
        "sloc": [
            [
                "ansic",
                1938351
            ],
            [
                "python",
                33683
            ],
            [
                "asm",
                21909
            ],
            [
                "perl",
                10567
            ],
            [
                "makefile",
                10520
            ],
            [
                "sh",
                3382
            ],
            [
                "cpp",
                1868
            ],
            [
                "yacc",
                1100
            ],
            [
                "lex",
                747
            ],
            [
                "tcl",
                28
            ],
            [
                "sed",
                24
            ],
            [
                "awk",
                8
            ]
        ],
        "suites": [
            "bookworm",
            "sid"
        ],
        "vcs_browser": "https://salsa.debian.org/debian/u-boot",
        "vcs_type": "git"
    },
    "raw_url": "/data/main/u/u-boot/2021.10%2Bdfsg-1/board/intel/cherryhill/Kconfig",
    "stat": {
        "perms": "rw-r--r--",
        "size": 384,
        "symlink_dest": null,
        "type": "-"
    },
    "text_file": true,
    "type": "file",
    "version": "2021.10+dfsg-1"
}