{
    "content": [
        {
            "hidden": false,
            "name": ".gitignore",
            "stat": {
                "perms": "rw-r--r--",
                "size": 167,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "Makefile",
            "stat": {
                "perms": "rw-r--r--",
                "size": 11853,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "POTFILES.in",
            "stat": {
                "perms": "rw-r--r--",
                "size": 361,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "check.sh",
            "stat": {
                "perms": "rwxr-xr-x",
                "size": 214,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "conf.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 16001,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "confdata.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 26253,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "expr.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 27155,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "expr.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 7489,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "gconf.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 39745,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "gconf.glade",
            "stat": {
                "perms": "rw-r--r--",
                "size": 25642,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "images.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 6565,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "kxgettext.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 4196,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "lex.zconf.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 58478,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "list.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 3716,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "lkc.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 5022,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "lkc_proto.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 2538,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "lxdialog",
            "stat": {
                "perms": "rwxr-xr-x",
                "size": 4096,
                "symlink_dest": null,
                "type": "d"
            },
            "type": "directory"
        },
        {
            "hidden": false,
            "name": "mconf.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 28156,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "menu.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 17237,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "merge_config.sh",
            "stat": {
                "perms": "rwxr-xr-x",
                "size": 3844,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "nconf.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 39230,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "nconf.gui.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 14893,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "nconf.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 1916,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "qconf.cc",
            "stat": {
                "perms": "rw-r--r--",
                "size": 44484,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "qconf.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 7951,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "streamline_config.pl",
            "stat": {
                "perms": "rw-r--r--",
                "size": 15187,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "symbol.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 29829,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "util.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 3156,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "zconf.gperf",
            "stat": {
                "perms": "rw-r--r--",
                "size": 1428,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "zconf.hash.c_shipped",
            "stat": {
                "perms": "rw-r--r--",
                "size": 12255,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "zconf.l",
            "stat": {
                "perms": "rw-r--r--",
                "size": 6684,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "zconf.lex.c_shipped",
            "stat": {
                "perms": "rw-r--r--",
                "size": 58266,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "zconf.tab.c_shipped",
            "stat": {
                "perms": "rw-r--r--",
                "size": 75191,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "zconf.y",
            "stat": {
                "perms": "rw-r--r--",
                "size": 15395,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        }
    ],
    "directory": "kconfig",
    "package": "qemu",
    "path": "qemu/1:6.1+dfsg-8/roms/seabios-hppa/scripts/kconfig",
    "pkg_infos": {
        "area": "main",
        "copyright": true,
        "ctags_count": 0,
        "license": "/copyright/license/qemu/1:6.1+dfsg-8/",
        "metric": {
            "size": 203512
        },
        "pts_link": "https://tracker.debian.org/pkg/qemu",
        "sloc": [
            [
                "ansic",
                2388081
            ],
            [
                "pascal",
                105276
            ],
            [
                "asm",
                47557
            ],
            [
                "python",
                46061
            ],
            [
                "sh",
                34175
            ],
            [
                "cpp",
                33592
            ],
            [
                "makefile",
                15409
            ],
            [
                "perl",
                7132
            ],
            [
                "xml",
                2540
            ],
            [
                "objc",
                1566
            ],
            [
                "php",
                1299
            ],
            [
                "tcl",
                1070
            ],
            [
                "yacc",
                604
            ],
            [
                "lex",
                363
            ],
            [
                "sql",
                71
            ],
            [
                "awk",
                35
            ],
            [
                "sed",
                11
            ]
        ],
        "suites": [
            "bookworm",
            "sid"
        ],
        "vcs_browser": "https://salsa.debian.org/qemu-team/qemu",
        "vcs_type": "git"
    },
    "type": "directory",
    "version": "1:6.1+dfsg-8"
}