{
    "content": [
        {
            "hidden": false,
            "name": ".gitignore",
            "stat": {
                "perms": "rw-r--r--",
                "size": 88,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "Makefile",
            "stat": {
                "perms": "rw-r--r--",
                "size": 7788,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "conf.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 20491,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "confdata.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 23335,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "expr.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 30726,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "expr.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 9699,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "gconf-cfg.sh",
            "stat": {
                "perms": "rwxr-xr-x",
                "size": 733,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "gconf.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 38909,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "gconf.glade",
            "stat": {
                "perms": "rw-r--r--",
                "size": 25642,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "images.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 6573,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "images.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 857,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "internal.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 172,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "lexer.l",
            "stat": {
                "perms": "rw-r--r--",
                "size": 9190,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "list.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 3749,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "lkc.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 4017,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "lkc_proto.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 1962,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "lxdialog",
            "stat": {
                "perms": "rwxr-xr-x",
                "size": 4096,
                "symlink_dest": null,
                "type": "d"
            },
            "type": "directory"
        },
        {
            "hidden": false,
            "name": "mconf-cfg.sh",
            "stat": {
                "perms": "rwxr-xr-x",
                "size": 1446,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "mconf.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 27843,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "menu.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 22175,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "merge_config.sh",
            "stat": {
                "perms": "rwxr-xr-x",
                "size": 4755,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "nconf-cfg.sh",
            "stat": {
                "perms": "rwxr-xr-x",
                "size": 1348,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "nconf.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 38759,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "nconf.gui.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 14878,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "nconf.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 2050,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "parser.y",
            "stat": {
                "perms": "rw-r--r--",
                "size": 15608,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "preprocess.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 11254,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "qconf-cfg.sh",
            "stat": {
                "perms": "rwxr-xr-x",
                "size": 594,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "qconf.cc",
            "stat": {
                "perms": "rw-r--r--",
                "size": 44449,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "qconf.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 6552,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "streamline_config.pl",
            "stat": {
                "perms": "rwxr-xr-x",
                "size": 16821,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "symbol.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 29284,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "tests",
            "stat": {
                "perms": "rwxr-xr-x",
                "size": 4096,
                "symlink_dest": null,
                "type": "d"
            },
            "type": "directory"
        },
        {
            "hidden": false,
            "name": "util.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 2210,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        }
    ],
    "directory": "kconfig",
    "package": "linux",
    "path": "linux/5.14.6-3/scripts/kconfig",
    "pkg_infos": {
        "area": "main",
        "copyright": true,
        "ctags_count": 0,
        "license": "/copyright/license/linux/5.14.6-3/",
        "metric": {
            "size": 1285796
        },
        "pts_link": "https://tracker.debian.org/pkg/linux",
        "sloc": [
            [
                "ansic",
                20745350
            ],
            [
                "asm",
                260329
            ],
            [
                "sh",
                86539
            ],
            [
                "makefile",
                45870
            ],
            [
                "perl",
                35985
            ],
            [
                "python",
                33079
            ],
            [
                "cpp",
                6029
            ],
            [
                "yacc",
                4760
            ],
            [
                "lex",
                2711
            ],
            [
                "awk",
                1230
            ],
            [
                "ruby",
                25
            ],
            [
                "sed",
                5
            ]
        ],
        "suites": [
            "sid"
        ],
        "vcs_browser": "https://salsa.debian.org/kernel-team/linux",
        "vcs_type": "git"
    },
    "type": "directory",
    "version": "5.14.6-3"
}