{
    "content": [
        {
            "hidden": false,
            "name": "Makefile",
            "stat": {
                "perms": "rw-r--r--",
                "size": 8572,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "POTFILES.in",
            "stat": {
                "perms": "rw-r--r--",
                "size": 123,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "check.sh",
            "stat": {
                "perms": "rwxr-xr-x",
                "size": 213,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "conf.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 12787,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "confdata.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 14185,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "expr.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 25491,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "expr.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 4881,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "gconf.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 41569,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "gconf.glade",
            "stat": {
                "perms": "rw-r--r--",
                "size": 25086,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "images.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 6565,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "kconfig_load.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 623,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "kxgettext.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 4033,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "lex.zconf.c_shipped",
            "stat": {
                "perms": "rw-r--r--",
                "size": 55092,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "lkc.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 3459,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "lkc_proto.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 1720,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "lxdialog",
            "stat": {
                "perms": "rwxr-xr-x",
                "size": 4096,
                "symlink_dest": null,
                "type": "d"
            },
            "type": "directory"
        },
        {
            "hidden": false,
            "name": "mconf.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 27797,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "menu.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 10096,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "qconf.cc",
            "stat": {
                "perms": "rw-r--r--",
                "size": 34465,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "qconf.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 5736,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "symbol.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 17763,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "util.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 2250,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "zconf.gperf",
            "stat": {
                "perms": "rw-r--r--",
                "size": 1222,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "zconf.hash.c_shipped",
            "stat": {
                "perms": "rw-r--r--",
                "size": 9701,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "zconf.l",
            "stat": {
                "perms": "rw-r--r--",
                "size": 6389,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "zconf.tab.c_shipped",
            "stat": {
                "perms": "rw-r--r--",
                "size": 60267,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "zconf.y",
            "stat": {
                "perms": "rw-r--r--",
                "size": 14198,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        }
    ],
    "directory": "kconfig",
    "package": "busybox",
    "path": "busybox/1:1.30.1-7/scripts/kconfig",
    "pkg_infos": {
        "area": "main",
        "copyright": true,
        "ctags_count": 0,
        "license": "/copyright/license/busybox/1:1.30.1-7/",
        "metric": {
            "size": 26816
        },
        "pts_link": "https://tracker.debian.org/pkg/busybox",
        "sloc": [
            [
                "ansic",
                182642
            ],
            [
                "sh",
                8979
            ],
            [
                "cpp",
                1428
            ],
            [
                "makefile",
                1023
            ],
            [
                "yacc",
                570
            ],
            [
                "lex",
                355
            ],
            [
                "perl",
                312
            ],
            [
                "python",
                109
            ],
            [
                "awk",
                29
            ]
        ],
        "suites": [
            "bookworm"
        ],
        "vcs_browser": "https://salsa.debian.org/installer-team/busybox",
        "vcs_type": "git"
    },
    "type": "directory",
    "version": "1:1.30.1-7"
}