{
    "content": [
        {
            "hidden": false,
            "name": "conf.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 16123,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "confdata.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 26265,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "expr.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 7182,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "lkc_proto.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 2154,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        }
    ],
    "directory": "kconfig",
    "package": "linux-grsec",
    "path": "linux-grsec/4.9.65-2+grsecunoff1~bpo9+1/.pc/features/all/Kbuild-kconfig-Verbose-version-of-listnewconfig.patch/scripts/kconfig",
    "pkg_infos": {
        "area": "main",
        "copyright": true,
        "ctags_count": 0,
        "license": "/copyright/license/linux-grsec/4.9.65-2+grsecunoff1%7Ebpo9+1/",
        "metric": {
            "size": 822620
        },
        "pts_link": "https://tracker.debian.org/pkg/linux-grsec",
        "sloc": [
            [
                "ansic",
                14489669
            ],
            [
                "asm",
                287604
            ],
            [
                "makefile",
                35243
            ],
            [
                "perl",
                27345
            ],
            [
                "sh",
                14091
            ],
            [
                "python",
                13374
            ],
            [
                "cpp",
                6088
            ],
            [
                "yacc",
                4337
            ],
            [
                "lex",
                2439
            ],
            [
                "awk",
                1212
            ],
            [
                "pascal",
                231
            ],
            [
                "lisp",
                218
            ],
            [
                "sed",
                21
            ]
        ],
        "suites": [
            "stretch-backports"
        ],
        "vcs_browser": "https://anonscm.debian.org/cgit/collab-maint/linux-grsec.git",
        "vcs_type": "git"
    },
    "type": "directory",
    "version": "4.9.65-2+grsecunoff1~bpo9+1"
}