{
    "checksum": "4e07e30115dd3f1c7f3e58381026e4c5a8617c8de279a62fcc24aac878500177",
    "file": "KConfigBackEnd.html",
    "mime": {
        "encoding": "us-ascii",
        "type": "text/html"
    },
    "number_of_duplicates": 3,
    "package": "python-kde3",
    "path": "python-kde3/3.16.7-1/doc/classref/kdecore/KConfigBackEnd.html",
    "pkg_infos": {
        "area": "main",
        "copyright": true,
        "ctags_count": 8434,
        "license": "/copyright/license/python-kde3/3.16.7-1/",
        "metric": {
            "size": 15392
        },
        "pts_link": "https://tracker.debian.org/pkg/python-kde3",
        "sloc": [
            [
                "python",
                5822
            ],
            [
                "cpp",
                4995
            ],
            [
                "ansic",
                629
            ],
            [
                "sh",
                262
            ],
            [
                "makefile",
                122
            ]
        ],
        "suites": [
            "squeeze"
        ],
        "vcs_browser": "http://svn.debian.org/viewsvn/python-modules/packages/python-kde3/trunk/",
        "vcs_type": "svn"
    },
    "raw_url": "/data/main/p/python-kde3/3.16.7-1/doc/classref/kdecore/KConfigBackEnd.html",
    "stat": {
        "perms": "rw-r--r--",
        "size": 5758,
        "symlink_dest": null,
        "type": "-"
    },
    "text_file": true,
    "type": "file",
    "version": "3.16.7-1"
}