{
    "checksum": "170e6373b918e0fcd266c5cd5cda69200d1af8904359e3f65ea7f0a7b2b58b77",
    "file": "Kconfig",
    "mime": {
        "encoding": "us-ascii",
        "type": "text/plain"
    },
    "number_of_duplicates": 2,
    "package": "aufs",
    "path": "aufs/5.2+20190909-1.1/fs/aufs/Kconfig",
    "pkg_infos": {
        "area": "main",
        "copyright": true,
        "ctags_count": 0,
        "license": "/copyright/license/aufs/5.2+20190909-1.1/",
        "metric": {
            "size": 1316
        },
        "pts_link": "https://tracker.debian.org/pkg/aufs",
        "sloc": [
            [
                "ansic",
                27246
            ],
            [
                "makefile",
                100
            ]
        ],
        "suites": [],
        "vcs_browser": "https://salsa.debian.org/janluca-guest/aufs-debian",
        "vcs_type": "git"
    },
    "raw_url": "/data/main/a/aufs/5.2%2B20190909-1.1/fs/aufs/Kconfig",
    "stat": {
        "perms": "rw-r--r--",
        "size": 6494,
        "symlink_dest": null,
        "type": "-"
    },
    "text_file": true,
    "type": "file",
    "version": "5.2+20190909-1.1"
}