{
    "checksum": "fb2a8a3fa280c54c74b71c2e2b75a80a5d3f3ae50cfeb0d849060e41cf393094",
    "file": "kconfig-to-uclibc.tar.gz",
    "mime": {
        "encoding": "binary",
        "type": "application/gzip"
    },
    "number_of_duplicates": 3,
    "package": "uclibc",
    "path": "uclibc/1.0.35-1/extra/config/kconfig-to-uclibc.tar.gz",
    "pkg_infos": {
        "area": "main",
        "copyright": true,
        "ctags_count": 0,
        "license": "/copyright/license/uclibc/1.0.35-1/",
        "metric": {
            "size": 28432
        },
        "pts_link": "https://tracker.debian.org/pkg/uclibc",
        "sloc": [
            [
                "ansic",
                216423
            ],
            [
                "asm",
                33201
            ],
            [
                "cpp",
                4706
            ],
            [
                "makefile",
                2866
            ],
            [
                "sh",
                716
            ],
            [
                "yacc",
                610
            ],
            [
                "perl",
                535
            ],
            [
                "lex",
                364
            ],
            [
                "awk",
                40
            ]
        ],
        "suites": [
            "bookworm",
            "bullseye",
            "sid"
        ],
        "vcs_browser": "https://anonscm.debian.org/gitweb/?p=collab-maint/uclibc.git",
        "vcs_type": "git"
    },
    "raw_url": "/data/main/u/uclibc/1.0.35-1/extra/config/kconfig-to-uclibc.tar.gz",
    "stat": {
        "perms": "rw-r--r--",
        "size": 4285,
        "symlink_dest": null,
        "type": "-"
    },
    "text_file": false,
    "type": "file",
    "version": "1.0.35-1"
}