{
    "checksum": "7d747e3219c72893e3c71e7bfa3a28b47dad672424fe73dc2091ba4f300447b7",
    "file": "Kconfig-thinkpad_ec.add",
    "mime": {
        "encoding": "us-ascii",
        "type": "text/plain"
    },
    "number_of_duplicates": 6,
    "package": "tp-smapi",
    "path": "tp-smapi/0.43-1/diff/Kconfig-thinkpad_ec.add",
    "pkg_infos": {
        "area": "main",
        "copyright": true,
        "ctags_count": 0,
        "license": "/copyright/license/tp-smapi/0.43-1/",
        "metric": {
            "size": 248
        },
        "pts_link": "https://tracker.debian.org/pkg/tp-smapi",
        "sloc": [
            [
                "ansic",
                2008
            ],
            [
                "makefile",
                148
            ]
        ],
        "suites": [
            "bookworm",
            "bullseye",
            "buster",
            "sid"
        ],
        "vcs_browser": "https://salsa.debian.org/debian/tp-smapi",
        "vcs_type": "git"
    },
    "raw_url": "/data/main/t/tp-smapi/0.43-1/diff/Kconfig-thinkpad_ec.add",
    "stat": {
        "perms": "rw-r--r--",
        "size": 230,
        "symlink_dest": null,
        "type": "-"
    },
    "text_file": true,
    "type": "file",
    "version": "0.43-1"
}