{
    "checksum": "94db7fa8e57c4dd8114709f295711a122053a0802879f825f3cfe1f3389363ed",
    "file": "Kconfig",
    "mime": {
        "encoding": "us-ascii",
        "type": "text/plain"
    },
    "number_of_duplicates": 11,
    "package": "openbios-sparc",
    "path": "openbios-sparc/1.0+svn1060-1/arch/x86/Kconfig",
    "pkg_infos": {
        "area": "main",
        "copyright": true,
        "ctags_count": 0,
        "license": "/copyright/license/openbios-sparc/1.0+svn1060-1/",
        "metric": {
            "size": 4884
        },
        "pts_link": "https://tracker.debian.org/pkg/openbios-sparc",
        "sloc": [
            [
                "ansic",
                60876
            ],
            [
                "asm",
                3362
            ],
            [
                "xml",
                1111
            ],
            [
                "cpp",
                414
            ],
            [
                "sh",
                352
            ],
            [
                "makefile",
                252
            ]
        ],
        "suites": [
            "wheezy"
        ]
    },
    "raw_url": "/data/main/o/openbios-sparc/1.0%2Bsvn1060-1/arch/x86/Kconfig",
    "stat": {
        "perms": "rw-r--r--",
        "size": 890,
        "symlink_dest": null,
        "type": "-"
    },
    "text_file": true,
    "type": "file",
    "version": "1.0+svn1060-1"
}