{
    "checksum": "fbdfff539d9e4cc26dd965d03c8fb3c0c188d476b14e18c462d0867df3783133",
    "file": "Kconfig.ipw3945",
    "mime": {
        "encoding": "us-ascii",
        "type": "text/plain"
    },
    "number_of_duplicates": 1,
    "package": "ipw3945",
    "path": "ipw3945/1.1.2-7/in-tree/Kconfig.ipw3945",
    "pkg_infos": {
        "area": "contrib",
        "copyright": true,
        "ctags_count": 2375,
        "license": "/copyright/license/ipw3945/1.1.2-7/",
        "metric": {
            "size": 860
        },
        "pts_link": "https://tracker.debian.org/pkg/ipw3945",
        "sloc": [
            [
                "ansic",
                14856
            ],
            [
                "sh",
                269
            ],
            [
                "makefile",
                242
            ]
        ],
        "suites": [
            "etch",
            "etch-m68k"
        ]
    },
    "raw_url": "/data/contrib/i/ipw3945/1.1.2-7/in-tree/Kconfig.ipw3945",
    "stat": {
        "perms": "rw-r--r--",
        "size": 3785,
        "symlink_dest": null,
        "type": "-"
    },
    "text_file": true,
    "type": "file",
    "version": "1.1.2-7"
}