{
    "checksum": "a062b17b0dc2c115873d69b6908bdb6185afe89412f98e32375ff2806b95621e",
    "file": "Kconfig",
    "mime": {
        "encoding": "us-ascii",
        "type": "text/plain"
    },
    "number_of_duplicates": 1,
    "package": "linuxtv-dvb",
    "path": "linuxtv-dvb/1.1.1-7/linux/drivers/media/dvb/frontends/Kconfig",
    "pkg_infos": {
        "area": "main",
        "copyright": true,
        "ctags_count": 5339,
        "license": "/copyright/license/linuxtv-dvb/1.1.1-7/",
        "metric": {
            "size": 2208
        },
        "pts_link": "https://tracker.debian.org/pkg/linuxtv-dvb",
        "sloc": [
            [
                "ansic",
                35435
            ],
            [
                "sh",
                602
            ],
            [
                "makefile",
                438
            ]
        ],
        "suites": [
            "sarge"
        ]
    },
    "raw_url": "/data/main/l/linuxtv-dvb/1.1.1-7/linux/drivers/media/dvb/frontends/Kconfig",
    "stat": {
        "perms": "rw-r--r--",
        "size": 6721,
        "symlink_dest": null,
        "type": "-"
    },
    "text_file": true,
    "type": "file",
    "version": "1.1.1-7"
}