{
    "checksum": "50da1cbe80d04bb3c2eff8478c00f4e15b158d1c563a5c7f6c38fc1b842b45ab",
    "file": "Kconfig",
    "mime": {
        "encoding": "us-ascii",
        "type": "text/plain"
    },
    "number_of_duplicates": 3,
    "package": "xenomai",
    "path": "xenomai/2.6.3-2/ksrc/arch/nios2/Kconfig",
    "pkg_infos": {
        "area": "main",
        "copyright": true,
        "ctags_count": 39132,
        "license": "/copyright/license/xenomai/2.6.3-2/",
        "metric": {
            "size": 58208
        },
        "pts_link": "https://tracker.debian.org/pkg/xenomai",
        "sloc": [
            [
                "ansic",
                118875
            ],
            [
                "sh",
                12352
            ],
            [
                "makefile",
                2265
            ],
            [
                "xml",
                1356
            ],
            [
                "asm",
                764
            ],
            [
                "php",
                464
            ],
            [
                "awk",
                71
            ],
            [
                "perl",
                47
            ]
        ],
        "suites": [
            "jessie",
            "jessie-kfreebsd"
        ]
    },
    "raw_url": "/data/main/x/xenomai/2.6.3-2/ksrc/arch/nios2/Kconfig",
    "stat": {
        "perms": "rw-r--r--",
        "size": 159,
        "symlink_dest": null,
        "type": "-"
    },
    "text_file": true,
    "type": "file",
    "version": "2.6.3-2"
}