{
    "checksum": "2d81317a6dfd822c04950cec0372d3ed31601bdbd8e89948915b109ad8b2a81d",
    "file": "Kconfig-x86",
    "mime": {
        "encoding": "us-ascii",
        "type": "text/plain"
    },
    "number_of_duplicates": 9,
    "package": "mol-drivers-macosx",
    "path": "mol-drivers-macosx/0.9.72.1-1/config/Kconfig-x86",
    "pkg_infos": {
        "area": "non-free",
        "copyright": true,
        "ctags_count": 4125,
        "license": "/copyright/license/mol-drivers-macosx/0.9.72.1-1/",
        "metric": {
            "size": 2424
        },
        "pts_link": "https://tracker.debian.org/pkg/mol-drivers-macosx",
        "sloc": [
            [
                "ansic",
                14971
            ],
            [
                "asm",
                937
            ],
            [
                "yacc",
                575
            ],
            [
                "lex",
                366
            ],
            [
                "makefile",
                222
            ],
            [
                "sh",
                49
            ]
        ],
        "suites": [
            "lenny"
        ],
        "vcs_browser": "http://svn.debian.org/wsvn/pkg-mol/mol-drivers-macosx/trunk",
        "vcs_type": "svn"
    },
    "raw_url": "/data/non-free/m/mol-drivers-macosx/0.9.72.1-1/config/Kconfig-x86",
    "stat": {
        "perms": "rw-r--r--",
        "size": 30,
        "symlink_dest": null,
        "type": "-"
    },
    "text_file": true,
    "type": "file",
    "version": "0.9.72.1-1"
}