{
    "checksum": "0cc9b2e28371df5b2415d35ef49a996683ea3388c7746c120b19e18a4f62ef97",
    "file": "Kconfig",
    "mime": {
        "encoding": "us-ascii",
        "type": "text/plain"
    },
    "number_of_duplicates": 5,
    "package": "linux-2.6",
    "path": "linux-2.6/2.6.32-48squeeze20/fs/jbd2/Kconfig",
    "pkg_infos": {
        "area": "main",
        "copyright": true,
        "ctags_count": 1415173,
        "license": "/copyright/license/linux-2.6/2.6.32-48squeeze20/",
        "metric": {
            "size": 494000
        },
        "pts_link": "https://tracker.debian.org/pkg/linux-2.6",
        "sloc": [
            [
                "ansic",
                7636125
            ],
            [
                "asm",
                225085
            ],
            [
                "xml",
                32978
            ],
            [
                "makefile",
                19314
            ],
            [
                "perl",
                11533
            ],
            [
                "sh",
                3561
            ],
            [
                "cpp",
                3365
            ],
            [
                "yacc",
                2964
            ],
            [
                "python",
                2893
            ],
            [
                "lex",
                1824
            ],
            [
                "lisp",
                218
            ],
            [
                "pascal",
                116
            ],
            [
                "awk",
                109
            ],
            [
                "sed",
                30
            ]
        ],
        "suites": [
            "squeeze-lts"
        ],
        "vcs_browser": "https://anonscm.debian.org/cgit/kernel/linux.git",
        "vcs_type": "git"
    },
    "raw_url": "/data/main/l/linux-2.6/2.6.32-48squeeze20/fs/jbd2/Kconfig",
    "stat": {
        "perms": "rw-r--r--",
        "size": 1366,
        "symlink_dest": null,
        "type": "-"
    },
    "text_file": true,
    "type": "file",
    "version": "2.6.32-48squeeze20"
}