{
    "checksum": "4389f1c26febb90a4bdfb54786f0dc128dcebdfa0de4898f12505587d4365b8e",
    "file": "Kconfig-language.txt",
    "mime": {
        "encoding": "us-ascii",
        "type": "text/plain"
    },
    "number_of_duplicates": 4,
    "package": "busybox-cvs",
    "path": "busybox-cvs/20040623-1/scripts/config/Kconfig-language.txt",
    "pkg_infos": {
        "area": "main",
        "copyright": true,
        "ctags_count": 11454,
        "license": "/copyright/license/busybox-cvs/20040623-1/",
        "metric": {
            "size": 7292
        },
        "pts_link": "https://tracker.debian.org/pkg/busybox-cvs",
        "sloc": [
            [
                "ansic",
                107671
            ],
            [
                "sh",
                3093
            ],
            [
                "makefile",
                1022
            ],
            [
                "yacc",
                575
            ],
            [
                "lex",
                366
            ],
            [
                "perl",
                252
            ]
        ],
        "suites": [
            "sarge"
        ]
    },
    "raw_url": "/data/main/b/busybox-cvs/20040623-1/scripts/config/Kconfig-language.txt",
    "stat": {
        "perms": "rw-r--r--",
        "size": 8455,
        "symlink_dest": null,
        "type": "-"
    },
    "text_file": true,
    "type": "file",
    "version": "20040623-1"
}