{
    "checksum": "ca296d504cc7cb59e3bf563f670bf793358bab6df78e1484815c85e91bac27c4",
    "file": "Kconfig",
    "mime": {
        "encoding": "us-ascii",
        "type": "text/plain"
    },
    "number_of_duplicates": 14,
    "package": "linux",
    "path": "linux/5.14.6-3/drivers/net/wireless/mediatek/mt76/mt76x2/Kconfig",
    "pkg_infos": {
        "area": "main",
        "copyright": true,
        "ctags_count": 0,
        "license": "/copyright/license/linux/5.14.6-3/",
        "metric": {
            "size": 1285796
        },
        "pts_link": "https://tracker.debian.org/pkg/linux",
        "sloc": [
            [
                "ansic",
                20745350
            ],
            [
                "asm",
                260329
            ],
            [
                "sh",
                86539
            ],
            [
                "makefile",
                45870
            ],
            [
                "perl",
                35985
            ],
            [
                "python",
                33079
            ],
            [
                "cpp",
                6029
            ],
            [
                "yacc",
                4760
            ],
            [
                "lex",
                2711
            ],
            [
                "awk",
                1230
            ],
            [
                "ruby",
                25
            ],
            [
                "sed",
                5
            ]
        ],
        "suites": [
            "sid"
        ],
        "vcs_browser": "https://salsa.debian.org/kernel-team/linux",
        "vcs_type": "git"
    },
    "raw_url": "/data/main/l/linux/5.14.6-3/drivers/net/wireless/mediatek/mt76/mt76x2/Kconfig",
    "stat": {
        "perms": "rw-r--r--",
        "size": 784,
        "symlink_dest": null,
        "type": "-"
    },
    "text_file": true,
    "type": "file",
    "version": "5.14.6-3"
}