{
    "checksum": "dd4a0998733fcf7e1302ba5d7493acd46fa790732e88d71735631d9ee82f6f6c",
    "file": "Kconfig.hz",
    "mime": {
        "encoding": "us-ascii",
        "type": "text/plain"
    },
    "number_of_duplicates": 1,
    "package": "linux-2.6.24",
    "path": "linux-2.6.24/2.6.24-6~etchnhalf.9etch3/kernel/Kconfig.hz",
    "pkg_infos": {
        "area": "main",
        "copyright": true,
        "ctags_count": 974658,
        "license": "/copyright/license/linux-2.6.24/2.6.24-6%7Eetchnhalf.9etch3/",
        "metric": {
            "size": 317768
        },
        "pts_link": "https://tracker.debian.org/pkg/linux-2.6.24",
        "sloc": [
            [
                "ansic",
                5384710
            ],
            [
                "asm",
                212187
            ],
            [
                "makefile",
                14202
            ],
            [
                "perl",
                7066
            ],
            [
                "cpp",
                3159
            ],
            [
                "python",
                2833
            ],
            [
                "yacc",
                2629
            ],
            [
                "sh",
                2526
            ],
            [
                "lex",
                1511
            ],
            [
                "lisp",
                218
            ],
            [
                "awk",
                96
            ],
            [
                "pascal",
                41
            ]
        ],
        "suites": [
            "etch"
        ]
    },
    "raw_url": "/data/main/l/linux-2.6.24/2.6.24-6~etchnhalf.9etch3/kernel/Kconfig.hz",
    "stat": {
        "perms": "rw-r--r--",
        "size": 1623,
        "symlink_dest": null,
        "type": "-"
    },
    "text_file": true,
    "type": "file",
    "version": "2.6.24-6~etchnhalf.9etch3"
}