{
    "content": [
        {
            "hidden": false,
            "name": "Makefile",
            "stat": {
                "perms": "rw-r--r--",
                "size": 11991,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "POTFILES.in",
            "stat": {
                "perms": "rw-r--r--",
                "size": 361,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "check.sh",
            "stat": {
                "perms": "rwxr-xr-x",
                "size": 214,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "conf.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 16079,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "confdata.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 26312,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "expr.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 27594,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "expr.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 7181,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "gconf.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 39086,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "gconf.glade",
            "stat": {
                "perms": "rw-r--r--",
                "size": 25642,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "images.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 6564,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "kxgettext.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 4207,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "list.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 3710,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "lkc.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 4553,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "lkc_defs.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 2040,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "lkc_proto.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 2154,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "lxdialog",
            "stat": {
                "perms": "rwxr-xr-x",
                "size": 4096,
                "symlink_dest": null,
                "type": "d"
            },
            "type": "directory"
        },
        {
            "hidden": false,
            "name": "mconf.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 28423,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "menu.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 17245,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "merge_config.sh",
            "stat": {
                "perms": "rwxr-xr-x",
                "size": 3587,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "nconf.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 39380,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "nconf.gui.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 14892,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "nconf.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 1915,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "qconf.cc",
            "stat": {
                "perms": "rw-r--r--",
                "size": 44546,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "qconf.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 7950,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "streamline_config.pl",
            "stat": {
                "perms": "rw-r--r--",
                "size": 15175,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "symbol.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 29901,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "util.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 2975,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "zconf.gperf",
            "stat": {
                "perms": "rw-r--r--",
                "size": 1428,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "zconf.hash.c_shipped",
            "stat": {
                "perms": "rw-r--r--",
                "size": 12254,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "zconf.l",
            "stat": {
                "perms": "rw-r--r--",
                "size": 6939,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "zconf.lex.c_shipped",
            "stat": {
                "perms": "rw-r--r--",
                "size": 60225,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "zconf.tab.c_shipped",
            "stat": {
                "perms": "rw-r--r--",
                "size": 77371,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "zconf.y",
            "stat": {
                "perms": "rw-r--r--",
                "size": 15803,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        }
    ],
    "directory": "kconfig",
    "package": "swupdate",
    "path": "swupdate/2021.04-1/scripts/kconfig",
    "pkg_infos": {
        "area": "main",
        "copyright": true,
        "ctags_count": 0,
        "license": "/copyright/license/swupdate/2021.04-1/",
        "metric": {
            "size": 10860
        },
        "pts_link": "https://tracker.debian.org/pkg/swupdate",
        "sloc": [
            [
                "ansic",
                57426
            ],
            [
                "javascript",
                13876
            ],
            [
                "cpp",
                1829
            ],
            [
                "makefile",
                951
            ],
            [
                "sh",
                680
            ],
            [
                "yacc",
                613
            ],
            [
                "perl",
                416
            ],
            [
                "lex",
                373
            ],
            [
                "python",
                84
            ]
        ],
        "suites": [
            "sid"
        ],
        "vcs_browser": "https://salsa.debian.org/debian/swupdate",
        "vcs_type": "git"
    },
    "type": "directory",
    "version": "2021.04-1"
}