{
    "checksum": "ef67f90c58ca83448ce2e818192afad8ca9e027fdfe426852fe2e45e02b61ab5",
    "file": "kconfigbase.sip",
    "mime": {
        "encoding": "us-ascii",
        "type": "text/x-c++"
    },
    "number_of_duplicates": 1,
    "package": "python-kde3",
    "path": "python-kde3/3.16.7-1/sip/kdecore/kconfigbase.sip",
    "pkg_infos": {
        "area": "main",
        "copyright": true,
        "ctags_count": 8434,
        "license": "/copyright/license/python-kde3/3.16.7-1/",
        "metric": {
            "size": 15392
        },
        "pts_link": "https://tracker.debian.org/pkg/python-kde3",
        "sloc": [
            [
                "python",
                5822
            ],
            [
                "cpp",
                4995
            ],
            [
                "ansic",
                629
            ],
            [
                "sh",
                262
            ],
            [
                "makefile",
                122
            ]
        ],
        "suites": [
            "squeeze"
        ],
        "vcs_browser": "http://svn.debian.org/viewsvn/python-modules/packages/python-kde3/trunk/",
        "vcs_type": "svn"
    },
    "raw_url": "/data/main/p/python-kde3/3.16.7-1/sip/kdecore/kconfigbase.sip",
    "stat": {
        "perms": "rw-r--r--",
        "size": 13997,
        "symlink_dest": null,
        "type": "-"
    },
    "text_file": true,
    "type": "file",
    "version": "3.16.7-1"
}