{
    "content": [
        {
            "hidden": false,
            "name": ".gitignore",
            "stat": {
                "perms": "rw-r--r--",
                "size": 172,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "Makefile",
            "stat": {
                "perms": "rw-r--r--",
                "size": 10264,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "POTFILES.in",
            "stat": {
                "perms": "rw-r--r--",
                "size": 361,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "check.sh",
            "stat": {
                "perms": "rwxr-xr-x",
                "size": 214,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "conf.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 11855,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "confdata.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 19329,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "expr.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 25975,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "expr.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 6986,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "gconf.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 41114,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "gconf.glade",
            "stat": {
                "perms": "rw-r--r--",
                "size": 25088,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "images.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 6565,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "kconfig_load.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 644,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "kxgettext.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 4177,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "lex.zconf.c_shipped",
            "stat": {
                "perms": "rw-r--r--",
                "size": 58454,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "lkc.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 4058,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "lkc_proto.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 2058,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "lxdialog",
            "stat": {
                "perms": "rwxr-xr-x",
                "size": 4096,
                "symlink_dest": null,
                "type": "d"
            },
            "type": "directory"
        },
        {
            "hidden": false,
            "name": "mconf.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 24253,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "menu.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 13593,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "qconf.cc",
            "stat": {
                "perms": "rw-r--r--",
                "size": 43281,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "qconf.h",
            "stat": {
                "perms": "rw-r--r--",
                "size": 7958,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "streamline_config.pl",
            "stat": {
                "perms": "rw-r--r--",
                "size": 8471,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "symbol.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 19999,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "util.c",
            "stat": {
                "perms": "rw-r--r--",
                "size": 2718,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "zconf.gperf",
            "stat": {
                "perms": "rw-r--r--",
                "size": 1346,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "zconf.hash.c_shipped",
            "stat": {
                "perms": "rw-r--r--",
                "size": 10154,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "zconf.l",
            "stat": {
                "perms": "rw-r--r--",
                "size": 6540,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "zconf.tab.c_shipped",
            "stat": {
                "perms": "rw-r--r--",
                "size": 69973,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        },
        {
            "hidden": false,
            "name": "zconf.y",
            "stat": {
                "perms": "rw-r--r--",
                "size": 14905,
                "symlink_dest": null,
                "type": "-"
            },
            "type": "file"
        }
    ],
    "directory": "kconfig",
    "package": "linux-kbuild-2.6",
    "path": "linux-kbuild-2.6/2.6.32-1/kbuild/scripts/kconfig",
    "pkg_infos": {
        "area": "main",
        "copyright": true,
        "ctags_count": 3971,
        "license": "/copyright/license/linux-kbuild-2.6/2.6.32-1/",
        "metric": {
            "size": 2292
        },
        "pts_link": "https://tracker.debian.org/pkg/linux-kbuild-2.6",
        "sloc": [
            [
                "ansic",
                19705
            ],
            [
                "perl",
                6559
            ],
            [
                "cpp",
                1795
            ],
            [
                "sh",
                1638
            ],
            [
                "python",
                1477
            ],
            [
                "makefile",
                1423
            ],
            [
                "yacc",
                1276
            ],
            [
                "lex",
                1045
            ]
        ],
        "suites": [
            "squeeze"
        ]
    },
    "type": "directory",
    "version": "2.6.32-1"
}