{
    "checksum": "b75d4be4c67463f32731dc7e4e6f6ad942672267e8339531866694dbcea75423",
    "file": "Kconfig",
    "mime": {
        "encoding": "us-ascii",
        "type": "text/plain"
    },
    "number_of_duplicates": 10,
    "package": "dahdi-firmware",
    "path": "dahdi-firmware/2.11.1.0.20170917-1/drivers/dahdi/Kconfig",
    "pkg_infos": {
        "area": "non-free",
        "copyright": true,
        "ctags_count": 0,
        "license": "/copyright/license/dahdi-firmware/2.11.1.0.20170917-1/",
        "metric": {
            "size": 9212
        },
        "pts_link": "https://tracker.debian.org/pkg/dahdi-firmware",
        "sloc": [
            [
                "ansic",
                120145
            ],
            [
                "perl",
                2395
            ],
            [
                "sh",
                973
            ],
            [
                "makefile",
                365
            ]
        ],
        "suites": [
            "bookworm",
            "bullseye",
            "buster",
            "sid"
        ],
        "vcs_browser": "https://anonscm.debian.org/cgit/pkg-voip/dahdi-firmware.git/",
        "vcs_type": "git"
    },
    "raw_url": "/data/non-free/d/dahdi-firmware/2.11.1.0.20170917-1/drivers/dahdi/Kconfig",
    "stat": {
        "perms": "rw-r--r--",
        "size": 7400,
        "symlink_dest": null,
        "type": "-"
    },
    "text_file": true,
    "type": "file",
    "version": "2.11.1.0.20170917-1"
}